integration/flows/src/main/resources/car.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://informatique.polytech.unice.fr/soa1/cookbook/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ExternalCarRentalService" targetNamespace="http://informatique.polytech.unice.fr/soa1/cookbook/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://informatique.polytech.unice.fr/soa1/cookbook/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://informatique.polytech.unice.fr/soa1/cookbook/">
<xs:element name="getCarsByPreferences" type="tns:getCarsByPreferences"/>
<xs:element name="getCarsByPreferencesResponse" type="tns:getCarsByPreferencesResponse"/>
<xs:complexType name="getCarsByPreferences">
<xs:sequence>
<xs:element minOccurs="0" name="place" type="xs:string"/>
<xs:element minOccurs="0" name="dateStart" type="xs:string"/>
<xs:element minOccurs="0" name="dateEnd" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCarsByPreferencesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="carSearch_result" type="tns:car"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="car">
<xs:sequence>
<xs:element name="idCar" type="xs:int"/>
<xs:element name="marque" type="xs:string"/>
<xs:element name="modele" type="xs:string"/>
<xs:element name="numSerie" type="xs:int"/>
<xs:element name="place" type="xs:string"/>
<xs:element name="prix" type="xs:float"/>
</xs:sequence>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="getCarsByPreferencesResponse">
<wsdl:part element="tns:getCarsByPreferencesResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="getCarsByPreferences">
<wsdl:part element="tns:getCarsByPreferences" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"></wsdl:part>
</wsdl:message>
<wsdl:portType name="CarRental">
<wsdl:operation name="getCarsByPreferences">
<wsdl:input message="tns:getCarsByPreferences" name="getCarsByPreferences"></wsdl:input>
<wsdl:output message="tns:getCarsByPreferencesResponse" name="getCarsByPreferencesResponse"></wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"></wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ExternalCarRentalServiceSoapBinding" type="tns:CarRental">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="getCarsByPreferences">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="getCarsByPreferences">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getCarsByPreferencesResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ExternalCarRentalService">
<wsdl:port binding="tns:ExternalCarRentalServiceSoapBinding" name="ExternalCRentalPort">
<soap:address location="http://localhost:9020/car-rpc/ExternalCarRentalService"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>